/* Apply a reset to remove default browser styles */
body, figure, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dd, ul, ol, figure, hr, fieldset, pre, textarea, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Light gray background color */
}

.forms_cont {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sec {
    margin-bottom: 15px;
}

.sec label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.sec span {
    display: block;
    margin-top: 5px;
    color: #555;
}

.sec textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

.sec4 input[type="submit"] {
    background-color: #4caf50; /* Green submit button */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sec4 input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

.sec4 p {
    margin-top: 10px;
    color: #777;
    font-size: 14px;
}
.sec{
    margin: 30px;
}

textarea{
    height: 150px;
}
.sec1 {
    background-color: #5f9ac1; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding for content spacing */
    text-align: center; /* Center align text */
    border-radius: 8px; /* Rounded corners */;
}

.sec1 h2 {
    margin-bottom: 10px; /* Margin below the heading */
}


.sec1 span {
    font-style: italic;
    color: #fafbb1; 
    /*bold;*/
    font-weight: bolder;
}

