.font-roboto{
  font-family: Roboto;
  font-weight: 300;
}


 .emran-date {
   font-size: 0.9rem;
   color: #6c757d;
   /* Adjust the color as needed */
   margin-bottom: 10px;
   margin-top: 10px;
 }
.font-bold{
  font-weight: 700;
  font-size: 30px;
}

:root{
  --purple: #7b2fc1;

}



.emran-col{
  min-height: 700px;
  min-width: 300px;
}

.emran-image{
  min-width: 280px;
}

.customFooter {
  /* width: 100vw; */
  margin-left: 0;
  background-color: #333;
  color: #fff;
  padding: 2rem 0 10px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
  background-color: antiquewhite ;
}
.header{
  display: flex;
}
@media (max-width: 768px) {
  .header{
    flex-direction: column;
  }
  #headerList{
    display: flex;
    flex-direction: column;
  }
  
}
  

/* Set the default text color and style */
.nav-pills .nav-link {
  color: #555; /* Dark gray */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transitions for color and scale changes */
}

/* Style the hover effect */
.nav-pills .nav-link:hover {
  color: #007bff; /* Bootstrap's primary color */
  text-decoration: none; /* Remove underline on hover */
  transform: scale(1.1); /* Scale up the text on hover */
}

#btn_ {
  margin-left:15px ;
  margin-bottom:40px ; 
  padding: 10px 20px; /* Adjust padding for better button size */
  font-size: 16px; /* Set font size */
  background-color: var(--purple); /* Set background color to a nice blue */
  color: #fff; /* Set text color to white */
  border: none; /* Remove border */
  border-radius: 5px; /* Add a slight border-radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  font-weight: bold;
}

#btn_:hover {
  background-color: #2073c4; /* Darker blue on hover */
}
#src{
  margin-bottom: 40px;
  max-width: 70vw;
  outline: none;
  
}
#forms {
  display: flex;
  justify-content: center;
}
#forms form{
  width: 90%;
}
.container {
  max-width: 1080px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
}

.links li {
  font-size: 1rem;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.3s;
  cursor: pointer;
  margin: auto;
}

.customFooter a {
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  display: block;
  color: #fff;
}

.customFooter span{
  color:dodgerblue;
  font-weight: 700;
}

.links li:hover{
  background-color: white;
  color: black;
}

.ref ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}


.ref ul li{
  margin: 15px;
  font-size: 1rem;
}

.customFooter .ads{
  font-size: 1.1rem;
  color: dodgerblue;
  font-weight: 700;
}

.ref{
  margin-top: 2rem;
}

.customFooter h1{
  font-size: 1.5rem;
}

.links h1{
  margin-bottom: 2rem;
}


.emran-text-primary{
  color: var(--purple);
  font-weight: 700;
}

.emran-link{
  color: var(--purple);
  font-weight: 700;
  text-decoration: underline;
}

.emran-btn{

  background-color: var(--purple);
  color: #fff;

}
  